@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700&display=swap');

html{
    body{
    padding:0;
    margin:0;
    overflow-x: hidden;
    box-sizing: border-box;
    }
}

input{
    cursor: pointer;
}


.container{
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    place-items: center;
    background-color: #1c1c1c;

    .row{
        width: 90%;
        height: 90%;
        border-radius: 25px;
        background-image: linear-gradient(#2ea3ff, #002848);
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    
        .columnone{
            width: 25%;
            max-height: 80%;
            align-content: space-between ;
            padding: 0% 7% 0% 2%;
            margin: 10% 0% 10% 0;
            border-right: 2px solid rgb(255, 255, 255);
            border-spacing: 20px;
            .sectionone{
                .col-display{
                    .menu{
                        position: relative;
                        bottom: 0;
                        left: 20px;
                        display: none;
                        .onclick{
                            width: 110%;
                            height: 45px;
                            font-size: 1em;
                            font-weight: 700;
                            font-family: 'Lato', sans-serif;
                            padding: 6px 6px 6px 6px;
                            margin: 40px 0 40px 0;
                            text-align: center;
                            border: 2px solid #ffffff;
                            border-radius: 10px;
                            background-color: transparent;
                            color: #fff;
                        }
                        .onclick:hover{
                            background-color: #ffffff;
                            color: #050801;
                            // box-shadow: 0 0 3px #f8f8f8, 0 0 12px #f8f8f8, 0 0 25px #eeeeee, 0 0 100px #e0e0e0;
                            outline: none;
                            border: none;
                        }

                        h1{
                            font-family: 'Lato', sans-serif;
                            font-size: 5em;
                            font-style: normal;
                            text-transform:uppercase;
                            color: aliceblue;
                        }

                        h4{
                            font-family: 'Lato', sans-serif;
                            font-size: 1.6em;
                            font-weight: 400;
                            font-style: oblique;
                            text-transform:capitalize;
                            color: aliceblue;
                            margin-top: -30px;
                            line-height: 40px;
                        }
                    }
                }
            }
        }
    
        .columntwo{
            width: 50%;
            max-height: 80%;
            align-content: space-around;
            justify-content:center;
            text-align: center;
            padding: 0% 2% 0% 2%;
            margin: 3% 0% 10% 0;
            
           .sectiontwo{
                .col-display{
                    .cal-logo{
                        h2{
                            top: 0;
                            left: 0;
                            font-size: 2em;
                            font-family: 'Lato', sans-serif;
                            text-transform: uppercase;
                            color: #fff;
                            text-shadow: 1px 1px 1px black;
                            margin: 25px 5px;
                            text-align: center;
                        }
                    }
                }
                .title{
                    margin-top: 10%;
                    #acc-title{
                        .massege{
                            #msg{
                                font-family: 'Lato', sans-serif;
                                font-size: 1.2em;
                                font-weight: 600;
                                text-transform: uppercase;
                                color: #fff;
                                margin: 0px 0px;
                                }
                            }
                        }
                    }
                }
                .col-calculator{
                    .cal-display{
                        .cal-body{
                            margin-top: 2%;
                            .cal-textview{
                                width: 250px;
                                height: 35px;
                                justify-items: center;
                                text-align: center;
                                margin: 10px 30px 10px 30px;
                                // position: relative;
                                // top: 0px;
                                // left: 44%;
                                // transform: translateX(-50%);
                                font-size: 24px;
                                font-family: 'Lato', sans-serif;
                                border-top: none;
                                border-right: none;
                                border-left: none;
                                border-bottom: 1px solid black; 
                                color: #fff;
                            }

                            .cal-button{
                                width: 51%;
                                margin: 0% 25%;
                                text-align: center;

                                .btn{
                                    width: 60px;
                                    height: 60px;
                                    margin: 6px;
                                    border-radius: 40px;
                                    background-color: dodgerblue;
                                    font-family: 'Lato', sans-serif;
                                    font-size: 1.5em;
                                    font-weight: 600;
                                    color: #fff;
                                    
                                }
                            }

                            .cal-response{
                                width: 100%;
                                margin: 5% 0%;
                                text-align: center;

                                .btn-equal{
                                    width: 130px;
                                    height: 40px;
                                    margin: 6px;
                                    border-radius: 10px;
                                    background-color: dodgerblue;
                                    font-family: 'Lato', sans-serif;
                                    font-size: 1.2em;
                                    font-weight: 400;
                                    color: #fff;
                                }

                                .btn-reset{
                                    width: 130px;
                                    height: 40px;
                                    margin: 6px;
                                    border-radius: 10px;
                                    background-color: dodgerblue;
                                    font-family: 'Lato', sans-serif;
                                    font-size: 1.2em;
                                    font-weight: 400;
                                    color: #fff;
                                }

                                .btn-cancel{
                                    width: 130px;
                                    height: 40px;
                                    margin: 6px;
                                    border-radius: 10px;
                                    background-color: dodgerblue;
                                    font-family: 'Lato', sans-serif;
                                    font-size: 1.2em;
                                    font-weight: 400;
                                    color: #fff;
                                }
                            }
                        }
                    }
                }
            }
        }


        .columnthree{
            width: 20%;
            // padding: 0% 8% 0% 6%;
            padding: 0% 13% 0% 5%;
            margin: 10% 0% 10% 0;
            border-left: 2px solid rgb(255, 255, 255);
            border-spacing: 20px;
            .sectionthree{
                .col-display{
                    #acc-status{
                        .massege{
                            #msg1{
                                font-family: 'Lato', sans-serif;
                                font-size: 1.2em;
                                font-weight: 600;
                                text-transform: uppercase;
                                color: rgb(0, 0, 0);
                                margin-bottom: 15px;
                                }

                            #msg2{
                                font-family: 'Lato', sans-serif;
                                font-size: 1.2em;
                                font-weight: 600;
                                text-transform: uppercase;
                                color: rgb(0, 0, 0);
                                margin-bottom: 15px;
                                }
                            #msg4{
                                font-family: 'Lato', sans-serif;
                                font-size: 1.2em;
                                font-weight: 600;
                                text-transform: uppercase;
                                color: rgb(0, 0, 0);
                                margin-bottom: 15px;
                                }
                            #msg5{
                                font-family: 'Lato', sans-serif;
                                font-size: 1.2em;
                                font-weight: 600;
                                text-transform: uppercase;
                                color: rgb(0, 0, 0);
                                margin-bottom: 15px;
                                }
                            #msg6{
                                font-family: 'Lato', sans-serif;
                                font-size: 1.2em;
                                font-weight: 600;
                                text-transform: uppercase;
                                color: rgb(0, 0, 0);
                                margin-bottom: 15px;
                                }
                            }
                        }
                    }
                    #mini-st{
                        // width: 130%;
                        // height: 40%;
                        // padding: 20px 20px 20px 20px;
                        // border-radius: 10px;
                        // background-color: #fff;

                        // box-shadow: 0 0 1px #ffffff, 0 0 1px #ffffff, 0 0 2px #ffffff, 0 0 25px #ffffff;
                        #statement{
                            position: relative;
                            font-size: 20px;
                            font-family: 'Lato', sans-serif;
                            #Ac-holder{
                                margin-bottom: 10px;
                            }
                            #main-balance{
                                margin-bottom: 10px;
                            }
                            #credit{
                                margin-bottom: 10px;
                            }
                            #debit{
                                margin-bottom: 10px;
                            }
                        }
                    }
                
                    #captcha{
                            width: 31px;
                            height: 22px;
                            font-size: 18px;
                            font-family: 'Lato', sans-serif;
                            font-weight: bold;
                            color: #fff;
                            position: absolute;
                            top: 130px;
                            right: 29%;
                            background-color: #3e3e3e;
                            outline: none;
                            border: none;
                            display: none;
                            text-align: center;
                            line-height: 18px;
                        #captcha:hover{
                            box-shadow: 0 0 5px #3e3e3e, 0 0 25px white, 0 0 50px #3e3e3e, 0 0 200px #3e3e3e;
                        }
                    }

                    #menuback{
                            width: 20%;
                            height: 5%;
                            // padding: 10px 0px 10px 0px;
                            // margin: 10px 0px 10px 0px;
                            font-family: 'Lato', sans-serif;
                            position: absolute;
                            top: 75%;
                            // right: 5%;
                            text-align: center;
                            font-size: 1.2em;
                            font-weight: 600;
                            border-radius: 10px; 
                            background-color: #fff;
                            color: #000;
                            // border-bottom-left-radius: 30px;
                            display: none;
                        #menuback:hover{
                            color: #000;
                            box-shadow: 0 0 5px crimson, 0 0 25px crimson, 0 0 50px crimson, 0 0 200px crimson;
                            outline: none;
                            border: none;
                        }
                    }
                }
            }
        }
    // }

// }




// _______________________________________________________________________________ //


// .container{
//     width: 100vw;
//     height: 100vh;
//     display: flex;
//     place-items: center;
//     background-color: #1c1c1c;
// }

// .row{
//     width: 400px;
//     height: 600px;
//     margin: auto;
//      display: flex;
//     justify-content: space-between;
//     flex-direction: column;
// }
// .col{
  
    
//     height: 300px;
    
//     padding: 20px;
//     text-align: center;
//     position: relative;
// }


// .display{
//     border: 10px #050801;
//     // box-shadow: 0 0 0 35px #0a3e47,0 0 0 45px #011c21, inset 0 0 10px rgba(0,0,0,1), 0 5px 20px rgba(0,0,0,.5), inset 0 0 15px rgba(0,0,0,.2);
//     width: 100%;
// }
// .calculator{
//     width: 80%;
//     display: flex;
//     margin: auto;
// }


// #msg2{
    
// }
// .menu{
    
// }
// .menu 
// .menu input:hover{
//             background-color: #f54263;
//             color: #050801;
//             box-shadow: 0 0 5px #f54263,
//                 0 0 25px #f54263,
//                 0 0 50px #f54263,
//                 0 0 200px #f54263;
//     outline: none;
//     border: none;
               
//         }




// }